#navTop {
	background-color: #2C3539; 
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 55px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navTop a {
	float: left;
	padding: 15px 26px;
	text-decoration: none;
	color: #D1D0CE;
	font-size: 21px;
	letter-spacing: -1px;
	font-family: Verdana;
}
#navTop a:hover {
	color: #FFFFFF;
}
.active {
	color: #FFFFFF !important;
}
#rightButton {
	float: right !important;
}
#loginBox {
	margin: auto;
	background-color: RGBA(44, 53, 57, 0.6);
	top: 80px;
	position: relative;
	width: 800px;
	height: 280px;
}
#loginBox p {
	padding-top: 20px;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 26px;
	letter-spacing: -1px;
	font-family: Verdana;
}
#nameText {
	position: absolute;
	top: 90px;
	left: 60px;
	height: 30px;
	font-size: 18px;
	width: 80%;
}
#passw {
	position: absolute;
	top: 140px;
	left: 60px;
	height: 30px;
	font-size: 18px;
	width: 80%;
}
#submit {
	position: absolute;
	top: 190px;
	left: 290px;
	height: 40px;
	font-size: 16px;
	width: 220px;
}